.Game {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .game-status {
    flex: 0 0 100%;
    font-size: 36px;
  }
  .game-header {
    flex: 0 0 100%;
    font-family: 'Roboto', sans-serif;
  }
  .game-board {
    flex: 0 0 300px;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    .square {
      width: 100px;
      height: 100px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 65px;
      cursor: pointer;
      &:hover {
        background-color: lightgray;
      }
      &.red {
        color: #da2726;
      }
      &.blue {
        color: #232c7a;
      }
      &:nth-child(1) {
        border-top: none;
        border-left: none;
      }
      &:nth-child(2) {
        border-top: none;
      }
      &:nth-child(3) {
        border-top: none;
        border-right: none;
      }
      &:nth-child(4) {
        border-left: none;
      }
      &:nth-child(6) {
        border-right: none;
      }
      &:nth-child(7) {
        border-left: none;
        border-bottom: none;
      }
      &:nth-child(8) {
        border-bottom: none;
      }
      &:nth-child(9) {
        border-bottom: none;
        border-right: none;
      }
    }
  }
}