.Game {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }
  .Game .game-status {
    flex: 0 0 100%;
    font-size: 36px; }
  .Game .game-header {
    flex: 0 0 100%; }
  .Game .game-board {
    flex: 0 0 300px;
    display: flex;
    width: 300px;
    flex-wrap: wrap; }
    .Game .game-board .square {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      cursor: pointer; }
      .Game .game-board .square:hover {
        background-color: lightgray; }
