.Game {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .game-status {
    flex: 0 0 100%;
    font-size: 36px;
  }
  .game-header {
    flex: 0 0 100%
  }
  .game-board {
    flex: 0 0 300px;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    .square {
      width: 100px;
      height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      cursor: pointer;
      &:hover {
        background-color: lightgray;
      }
    }
  }
}